<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PublishProfile" value="Default"/>
    <add key="BaseUrl:Default" value="http://www.google.com"/>
    <add key="BaseUrl:T" value="http://www.google.com"/>
    <add key="BaseUrl:A" value="http://www.google.com"/>
    <add key="BaseUrl:P" value="http://www.google.com"/>

    <add key="o.nu.nl" value="o"/>
    <add key="t.nu.nl" value="t"/>
    <add key="a.nu.nl" value="a"/>
    <add key="p.nu.nl" value="p"/>

    <add key="AzureBlob:StorageContainer" value="Seleniumtestapplication"/>
    <add key="AzureBlob:StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=seleniumscreenshots;AccountKey=eYmf18WTHogo4WADTz4XR6MdbGVHPsKg0qI+l7Ztgi3QRlFGFXgrA8sBz7cEdKBYc4M9GiR9cp1T0HLw++CcSQ=="/>
  </appSettings>
</configuration>